
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, powderblue, coral); /* Example gradient */
    background-size: 400% 400%; /* Make the gradient larger to create movement */
    animation: gradientAnimation 8s ease infinite; /* Apply animation */
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
/* #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #ffc6ff */

@keyframes gradientAnimation {

    0% { background-position: 0% 50%; } /* Starting position */
  
    50% { background-position: 100% 50%; } /* Middle position, gradient moves across */
  
    100% { background-position: 0% 50%; } /* Back to starting position */
  
  } 

#game-container {
    position: relative;
    width: 70%;
    height: 60%;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    
}
.chat{
    margin: 20px 20px 20px 20px;
    font-size: 30px;
    position: relative;
}
.rule{
    margin: 0 20px;
}
.totalpoints{
    font-size: 30px;
}
#character {
    width: 25px;
    height: 25px;
    position: relative;
    /* transition: 0.1s linear; */
    background-color: powderblue;
    border: 1px solid black;
    border-radius: 100%;
    cursor: none;
}
.hint{
    left: 0;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    translate: 10px 10px;
}
.dotStyle{
    background-color: linear-gradient(to right, white, gray, black, 0); /* Example gradient */
    /* animation: gradientAnimation 10s ease infinite; */
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(0, 0, 0, 100);
    /* transition: 0.1s linear; */
    border-radius: 100%;
}
.centered{
    position: absolute;
    z-index: 10;
    font-size: 30px;
    color: gold;
    
}
.top{
    position: absolute;
    top:0;
    z-index: 10;
    font-size: 60px;
    color: teal;
}
.buttonStyle{
    background-color: rgb(149, 2, 2);
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid red;
    transition: 0.5s ;
}
.rules{
    font-size: 20px;
    align-items: center;
    border: 1px solid black;
    position: relative;
    z-index: 10;
}
.fakeDotStyle1 {
    background: linear-gradient(to right, white, gray, black, 0); /* Example gradient */
    animation: gradientAnimation 10s ease infinite;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(0, 0, 0, 0);
    /* transition: 0.1s linear; */
    border-radius: 100%;
}
.fakeDotStyle2 {
    background: linear-gradient(to right, black, gray, white, 0); /* Example gradient */
    animation: gradientAnimation 10s ease infinite;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(128, 128, 128, 0);
    /* transition: 0.1s linear; */
    border-radius: 100%;
}
.fakeDotStyle3 {
    background: linear-gradient(to right, black, gray, white, 0); /* Example gradient */
    animation: gradientAnimation 10s ease infinite;
    position: absolute;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(0, 0, 0, 0);
    /* transition: 0.1s linear; */
    border-radius: 100%;
}
.fakeDotStyle4 {
    background: linear-gradient(to right, black, gray, white, 0); /* Example gradient */
    animation: gradientAnimation 10s ease infinite;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 6px solid rgba(0, 0, 0, 0);
    /* transition: 0.1s linear; */
    border-radius: 40%;
}
.fakeDotStyle5 {
    background: linear-gradient(to right, black, gray, white, 0); /* Example gradient */
    animation: gradientAnimation 10s ease infinite;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(0, 0, 0, 0);
    /* transition: 0.1s linear; */
    border-radius: 100%;
}